@tailwind base;
@tailwind components;
@tailwind utilities;

html * {
    font-family: Arial;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(0, 0, 0);
    color: rgba(230, 230, 230, .7);
}
